# directories
/__pycache__
/.venv
# /data
/plots
/models
/results
/figures

# files
*.zip
*.pyc
*.pth
*.txt
*.bib
*.pdf
*.npy
*.pkl
*.csv
*.png
*.jpg
*.jpeg
*.json
*.parquet
*.ipynb_checkpoints

# exceptions
!requirements.txt